[Oo]bj/
[Bb]in/
.vs/
.nuget/
nuget.exe
packages/
artifacts/
_ReSharper.*
_ReSharper.*/
*.user
*.suo
*.cache
*.docstates
*.psess
*.userprefs
*DS_Store
node_modules/
bower_components/
project.lock.json
/*.sublime-workspace
