<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="hyperspace" value="https://www.myget.org/F/hyperspace/auth/b77beb95-44d0-4030-a523-3c088c5de256/api/v3/index.json" />
  </packageSources>
</configuration>
